<div class="col-sm-6 col-lg-3">
    <a class="card text-white bg-flat-color-1" href="{% url 'tacks' %}">
        <div class="card-body pb-0">
            <h4 class="mb-0">
                <span class="count">46</span>
            </h4>
            <p class="text-light">Lotes en Ruta</p>
        </div>
    </a>
</div>
<div class="col-sm-6 col-lg-3">
    <a class="" href="{% url 'traceability' %}">
        <div class="card text-white bg-flat-color-3">
            <div class="card-body pb-0">
                <h4 class="mb-0">
                    <span class="count">506</span>
                </h4>
                <p class="text-light">Registros de Trazabilidad</p>
            </div>
        </div>
    </a>
</div>
<div class="col-sm-6 col-lg-3">
    <a class="" href="{% url 'blockchain_card' %}">
        <div class="card text-white bg-flat-color-4">
            <div class="card-body pb-0">
                <h4 class="mb-0">
                    <span class="count">6896</span>
                </h4>
                <p class="text-light">Blockchains</p>
            </div>
        </div>
    </a>
</div>
<div class="col-sm-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-four">
                <div class="stat-icon dib">
                    <i class="ti-server text-muted"></i>
                </div>
                <div class="stat-content">
                    <div class="text-left dib">
                        <div class="stat-heading">Bases de Datos</div>
                        <div class="stat-text">IBM: 390 DataBases</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>