{% load static from staticfiles %}
<div class="card">
    <div class="card-header">
        <h5>Operador Logístico Internacional</h5>
    </div>
    <div class="card-body ">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">
                        <a href="#">
                            <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/scano_logo.png' %}">
                        </a>
                        <div class="media-body">
                            <h2 class="text-light display-6">Operador Logístico</h2>
                            <p>Scano Logistics S.A.C.</p>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>RUC</strong> <span class="pull-right">20601865000</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Razón Social</strong> <span class="pull-right">Scano Logistics S.A.C.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Oficina</strong> <span class="pull-right">Cal. Carlos Gonzales Nro. 275 Int. 403</span><br><span class="pull-right">Maranga Et. Siete San Miguel</span><br><span class="pull-right">Lima, Perú</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Tipo de Servicio</strong> <span class="pull-right">1PL</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Duración del Servicio</strong> <span class="pull-right">72 horas</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">
                        <a href="#">
                            <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/Peru.png' %}">
                        </a>
                        <div class="media-body">
                            <h2 class="text-light display-6">Transporte Nacional</h2>
                            <p>Scano Logistics S.A.C.</p>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Empresa Transportista</strong> <span class="pull-right">Scano Logistics S.A.C.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Producto</strong> <span class="pull-right">Café Caturra</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Lote</strong> <span class="pull-right">1231-10112019</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Operador Embarque</strong> <span class="pull-right">Sundar Pichai</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Recojo</strong> <span class="pull-right">Aicasa Export S.A - F05/21</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Fecha y Hora de Salida</strong> <span class="pull-right">15/Nov/2019 15:00 a.m.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Fecha y Hora de Llegada</strong> <span class="pull-right">16/Nov/2019 10:30 a.m.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Fecha y Hora de Desembarque</strong> <span class="pull-right">16/Nov/2019 10:50 a.m.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Operador Desembarque</strong> <span class="pull-right">Diego Armando Maradona</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Lugar de Recojo</strong> <span class="pull-right">Pueb Shucshuyacu</span><br><span class="pull-right"><a href="https://www.google.com/maps/place/Pueb+Shucshuyacu,+Shucshuyacu+22100/@-6.1573896,-76.9008007,16z/data=!3m1!4b1!4m13!1m7!3m6!1s0x91b73b4435b26d39:0x8ae5da80b0b99501!2sAlto+Mayo,+Moyobamba+22000!3b1!8m2!3d-6.0109193!4d-76.9952672!3m4!1s0x91b736a038351bc9:0x7efc2c247ee5f229!8m2!3d-6.1560081!4d-76.8958756">Shucshuyacu 22100</a></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Lugar de Desembarque</strong> <span class="pull-right"><a href="https://www.google.com/maps/place/Aduana+Mar%C3%ADtima/@-12.0515774,-77.143821,16z/data=!4m8!1m2!2m1!1stransporte+aduana!3m4!1s0x0:0xb01d747f6cced0c1!8m2!3d-12.0510815!4d-77.1408945">Aduana Marítima</a></span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">
                        <a href="#">
                            <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/07.jpeg' %}">
                        </a>
                        <div class="media-body">
                            <h2 class="text-light display-6">Unidad de Transporte</h2>
                            <p>TRA01B-01</p>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Empresa Responsable</strong> <span class="pull-right">Scano Logistics S.A.C.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Tipo</strong> <span class="pull-right">Camión</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Marca</strong> <span class="pull-right">Mercedez Benz</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Modelo</strong> <span class="pull-right">OM 934</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Unidad</strong> <span class="pull-right">TP0125-01</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Conductor</strong> <span class="pull-right">Vincent Vega</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Recojo</strong> <span class="pull-right"><a href="https://www.google.com.pe/maps/place/Rioja/@-6.0610125,-77.1841481,14z/data=!3m1!4b1!4m13!1m7!3m6!1s0x91b5fa68b2b1689b:0x274c7cb97b90b44c!2sAmazonas!3b1!8m2!3d-5.115146!4d-78.1108279!3m4!1s0x91b727bf4cf0ec33:0x637b94ce3004ed3d!8m2!3d-6.0572582!4d-77.1659088?hl=es-419">Rioja - Moyobamba</a></span>
                    </li>
                    <li class="list-group-item">
                        <a target="_blank" href="https://www.google.com.pe/maps/place/Rioja/@-6.0610125,-77.1841481,14z/data=!3m1!4b1!4m13!1m7!3m6!1s0x91b5fa68b2b1689b:0x274c7cb97b90b44c!2sAmazonas!3b1!8m2!3d-5.115146!4d-78.1108279!3m4!1s0x91b727bf4cf0ec33:0x637b94ce3004ed3d!8m2!3d-6.0572582!4d-77.1659088?hl=es-419">
                        <img src="{% static 'images/traceability/map02.PNG' %}" class="align-self-center"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>