{% load static from staticfiles %}
<div class="card">
	<div class="card-header">
		<h5>Lotización y Almacenamiento</h5>
	</div>
	<div class="card-body ">
		<div class="row">
			<div class="col-lg-4 col-md-12">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">
                        <a href="#">
                            <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/04.jpeg' %}">
                        </a>
                        <div class="media-body">
                            <h2 class="text-light display-6">Almacén</h2>
                            <p>Aicasa Export S.A.</p>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Empresa</strong> <span class="pull-right">Aicasa Export S.A.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Código Almacén</strong> <span class="pull-right">F05/21</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Hora de Almacenamiento</strong> <span class="pull-right">10:30 am</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Fecha de Almacenamiento</strong> <span class="pull-right">07/Nov/2019</span>
                    </li>
                </ul>
			</div>
			<div class="col-lg-4 col-md-12">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">
                        <a href="#">
                            <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/saco.jpg' %}">
                        </a>
                        <div class="media-body">
                            <h2 class="text-light display-6">Lote</h2>
                            <p>Café Caturra</p>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Lote</strong> <span class="pull-right">1231-10112019</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Variedad</strong> <span class="pull-right">Café Caturra</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Peso del Lote</strong> <span class="pull-right">3600 Kg.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>N° Sacos</strong> <span class="pull-right">72</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Crypto Key</strong> <span class="pull-right">F4A885B3E1</span>
                    </li>
                </ul>
			</div>
			<div class="col-lg-4 col-md-12">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">
                        <a href="#">
                            <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/saco2.jpg' %}">
                        </a>
                        <div class="media-body">
                            <h2 class="text-light display-6">Unidad</h2>
                            <p>10/1231-10112019</p>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Código</strong> <span class="pull-right">10/1231-10112019</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Fecha de Registro</strong> <span class="pull-right">07/Nov/2019</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Peso Neto</strong> <span class="pull-right">49.8 Kg.</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Crypto Key</strong> <span class="pull-right">D4A4C1A66F</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Certificación</strong> <span class="pull-right"><a href="https://www.24-7pressrelease.com/assets/attachments/044/press_release_distribution_0443783_118802.jpg" target="_blank">USDA Organic</a></span><br><span class="pull-right"><a href="http://www.cafferiver.com/images/certificato-utz-coffee.png" target="_blank">UTZ/Rainforest</a></span>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>