<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Seguimiento de Trazabilidad</strong>
        </div>
        <div class="card-body">
			<table class="table table-striped table-bordered" id="bootstrap-data-table-export">
			    <thead>
			        <tr>
			            <th scope="col">#</th>
			            <th scope="col">Estado</th>
			            <th scope="col">Empresa</th>
			            <th scope="col">Registro</th>
			            <th scope="col">Origen</th>
			            <th scope="col">Destino</th>
			            <th scope="col">Producto</th>
			            <th scope="col">#Lotes</th>
			            <th scope="col">Cantidad</th>
			            <th scope="col">Blockchain</th>
			        </tr>
			    </thead>
			    <tbody>
			    	{% for track in tracks %}
				        <tr>
				            <th scope="row"><h4>{{ forloop.counter }}</h4></th>
				            <td><span class="badge badge-{{ track.status.1 }}">{{ track.status.0 }}</span></td>
				            <td class="text-danger"><span>{{ track.company }}</span></td>
				            <td class="text-info">{{ track.date }}</td>
				            <td><strong>{{ track.origin }}</strong>, PE</td>
				            <td>{{ track.destination.0 }}, <strong>{{ track.destination.1 }}</strong></td>
				            <td><strong class="text-primary">{{ track.product }}</strong></td>
				            <td class="text-success"><h4>{{ track.lote }}</h4></td>
				            <td class="text-success"><h5>{{ track.quantity }}Kg.</h5></td>
				            <td>
				            	<strong>Bloques:</strong>{{ track.blocks }}
				            	<strong>Key:</strong><span class="text-danger">{{ track.hash|slice:10 }}</span><br>
				            	<a href="{% url 'traceability' %}" class="badge badge-success">Trazabilidad</a><br>
				            	<a href="{% url 'blockchain_card' %}" class="badge badge-info">Blockchain</a>
				            </td>
				        </tr>
			        {% endfor %}
			    </tbody>
			</table>
        </div>
    </div>
</div>


