{% load static from staticfiles %}
<div class="col-lg-4 col-md-12">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/logo.jpg' %}">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">Exportadora</h2>
                <p>Aicasa Export S.A.</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>RUC</strong> <span class="pull-right">20306126475</span>
        </li>
        <li class="list-group-item">
            <strong>Oficina</strong> <span class="pull-right">Jr. El Laton 5652</span><br><span class="pull-right">Infantas, Los Olivos, Lima - Perú</span>
        </li>
        <li class="list-group-item">
            <strong>Email</strong> <span class="pull-right">exportaciones@aicasaperu.com</span>
        </li>
        <li class="list-group-item">
            <strong>Website</strong> <span class="pull-right"><a class="red" href="http://aicasaperu.com" target="_blank">http://aicasaperu.com</a></span>
        </li>
        <li class="list-group-item">
            <strong>Teléfono</strong> <span class="pull-right">+511 528-1510</span>
        </li>
        <li class="list-group-item">
            <strong>Celular</strong> <span class="pull-right">996 796 892</span>
        </li>
        <li class="list-group-item">
            <strong>Contácto</strong> <span class="pull-right">Martín Vizcarra</span>
        </li>
        <li class="list-group-item">
            <strong>Fecha de Transporte</strong> <span class="pull-right">15/Nov/2019 03:00 p.m.</span>
        </li>
        <li class="list-group-item">
            <strong>Fecha de Llegada</strong> <span class="pull-right">16/Nov/2019 10:30 a.m.</span>
        </li>
        <li class="list-group-item">
            <strong>Operador Logístico</strong> <span class="pull-right"> Scano Logistics S.A.C.</span>
        </li>
    </ul>
</div>