{% load static from staticfiles %}
<div class="col-lg-4 col-md-12">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/saco.jpg' %}">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">Lote</h2>
                <p>Café Caturra</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Lote</strong> <span class="pull-right">1231-10112019</span>
        </li>
        <li class="list-group-item">
            <strong>Variedad</strong> <span class="pull-right">Café Caturra</span>
        </li>
        <li class="list-group-item">
            <strong>Peso del Lote</strong> <span class="pull-right">25 Toneladas</span>
        </li>
        <li class="list-group-item">
            <strong>Sacos</strong> <span class="pull-right">500 Unidades <span class="badge badge-warning"><a href="{% url 'blockchain_card' %}" class="text-black">Modificado: 490 Unidades</a></span></span>
        </li>
        <li class="list-group-item">
            <strong>Crypto Key</strong> <a href="{% url 'blockchain_card' %}" class="pull-right text-danger">F4A885B3E1</a>
        </li>
    </ul>
</div>