{% load static from staticfiles %}
<div class="col-lg-4 col-md-12">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/lote_llegada.jpg' %}">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">Lote</h2>
                <p>Café Caturra/25 Toneladas</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Lote</strong> <span class="pull-right">1231-10112019</span>
        </li>
        <li class="list-group-item">
            <strong>Variedad</strong> <span class="pull-right">Café Caturra</span>
        </li>
        <li class="list-group-item">
            <strong>Peso del Lote</strong> <span class="pull-right">25 Toneladas</span>
        </li>
        <li class="list-group-item">
            <strong>N° Sacos</strong> <span class="pull-right">500 Unidades</span>
        </li>
        <li class="list-group-item">
            <strong>Peso/Saco</strong> <span class="pull-right">50 Kg.</span>
        </li>
        <li class="list-group-item">
            <strong>Certificación</strong> <span class="pull-right"><a class="red" href="https://www.24-7pressrelease.com/assets/attachments/044/press_release_distribution_0443783_118802.jpg" target="_blank">USDA Organic</a></span><br><span class="pull-right"><a class="red" href="http://www.cafferiver.com/images/certificato-utz-coffee.png" target="_blank">UTZ/Rainforest</a></span>
        </li>
        <li class="list-group-item">
            <strong>Crypto Key</strong> <a href="{% url 'blockchain_card' %}" class="pull-right text-danger">DD155C7A24</a>
        </li>
    </ul>
</div>