{% load static from staticfiles %}
<div class="col-lg-4 col-md-12">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/mi_cafe.jpg' %}">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">Frothy Coffee</h2>
                <p>Alto Expresso</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Cliente</strong> <span class="pull-right">Luis Quiroz Burga</span>
        </li>
        <li class="list-group-item">
            <strong>Nombre</strong> <span class="pull-right">Frothy Coffee</span>
        </li>
        <li class="list-group-item">
            <strong>Tamaño</strong> <span class="pull-right">Alto</span>
        </li>
        <li class="list-group-item">
            <strong>Variedad</strong> <span class="pull-right">Caturra Toasted</span>
        </li>
        <li class="list-group-item">
            <strong>Tipo</strong> <span class="pull-right">Café Expresso</span>
        </li>
        <li class="list-group-item">
            <strong>Origen</strong> <span class="pull-right">Altomayo, Perú</span>
        </li>
        <li class="list-group-item">
            <strong>Llave de Trazabilidad</strong> <span class="pull-right">F123H11ASD</span>
        </li>
    </ul>
</div>