{% load static from staticfiles %}
<div class="col-lg-4 col-md-12">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/02.jpeg' %}">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">Secado</h2>
                <p>Café Caturra</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Empresa Responsable</strong> <span class="pull-right">Aicasa Export S.A.</span>
        </li>
        <li class="list-group-item">
            <strong>Fecha de Registro</strong> <span class="pull-right">07 de Noviembre del 2019</span>
        </li>
        <li class="list-group-item">
            <strong>Inicio del Secado</strong> <span class="pull-right">02 de Noviembre del 2019</span>
        </li>
        <li class="list-group-item">
            <strong>Fin del Secado</strong> <span class="pull-right">07 de Noviembre del 2019</span>
        </li>
        <li class="list-group-item">
            <strong>Horas de Luz</strong> <span class="pull-right">40 horas</span>
        </li>
        <li class="list-group-item">
            <strong>Tipo de Secado</strong> <span class="pull-right">Al sol - Carros de Madera</span>
        </li>
        <li class="list-group-item">
            <strong>Humedad Inicial</strong> <span class="pull-right">60%</span>
        </li>
        <li class="list-group-item">
            <strong>Humedad Final</strong> <span class="pull-right">11%</span>
        </li>
    </ul>
</div>