{% load static from staticfiles %}
<div class="col-lg-4 col-md-12">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/earth.png' %}">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">Transporte Internacional</h2>
                <p>APL</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Empresa Transportista</strong> <span class="pull-right">APL</span>
        </li>
        <li class="list-group-item">
            <strong>Producto</strong> <span class="pull-right">Café Caturra</span>
        </li>
        <li class="list-group-item">
            <strong>Lote</strong> <span class="pull-right">1231-10112019</span>
        </li>
        <li class="list-group-item">
            <strong>Operador Embarque</strong> <span class="pull-right">Elon Musk</span>
        </li>
        <li class="list-group-item">
            <strong>Fecha/Hora Embarque</strong> <span class="pull-right">16/Nov/2019 15:00 p.m.</span>
        </li>
        <li class="list-group-item">
            <strong>Operario de Aduanas</strong> <span class="pull-right">Emma Watson</span>
        </li>
        <li class="list-group-item">
            <strong>Embarque</strong> <span class="pull-right"><a href="https://www.google.com/maps/place/Aduana+Mar%C3%ADtima/@-12.0515774,-77.143821,16z/data=!4m8!1m2!2m1!1stransporte+aduana!3m4!1s0x0:0xb01d747f6cced0c1!8m2!3d-12.0510815!4d-77.1408945" class="red" target="_blank">Aduana Marítima</a></span>
        </li>
        <li class="list-group-item">
            <a target="_blank" href="https://www.google.com/maps/place/Aduana+Mar%C3%ADtima/@-12.0515774,-77.143821,16z/data=!4m8!1m2!2m1!1stransporte+aduana!3m4!1s0x0:0xb01d747f6cced0c1!8m2!3d-12.0510815!4d-77.1408945">
            <img src="{% static 'images/traceability/map03.PNG' %}" class="align-self-center"></a>
        </li>
        <li class="list-group-item">
            <strong>Desembarque</strong> <span class="pull-right"><a href="https://www.google.com/maps/place/New+York+Harbor/@40.6213383,-74.1276375,12z/data=!4m5!3m4!1s0x89c2507b5e8c9d09:0x7e5b091171425498!8m2!3d40.6180585!4d-74.0666722" class="red" target="_blank">Puerto de Nueva York</a></span>
        </li>
        <li class="list-group-item">
            <a target="_blank" href="https://www.google.com/maps/place/New+York+Harbor/@40.6213383,-74.1276375,12z/data=!4m5!3m4!1s0x89c2507b5e8c9d09:0x7e5b091171425498!8m2!3d40.6180585!4d-74.0666722">
            <img src="{% static 'images/traceability/map04.PNG' %}" class="align-self-center"></a>
        </li>
    </ul>
</div>