{% load static from staticfiles %}
<div class="col-lg-4 col-md-12">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/usa.png' %}">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">Transporte</h2>
                <p>Starbucks Coffe Company</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Empresa Transportista</strong> <span class="pull-right">APL</span>
        </li>
        <li class="list-group-item">
            <strong>Producto</strong> <span class="pull-right">Café Caturra</span>
        </li>
        <li class="list-group-item">
            <strong>Lote</strong> <span class="pull-right">GT/1231-10112019</span>
        </li>
        <li class="list-group-item">
            <strong>Operador Embarque</strong> <span class="pull-right">Samuel L. Jackson</span>
        </li>
        <li class="list-group-item">
            <strong>Salida</strong><span class="pull-right"><a class="red" href="https://www.google.com/maps/place/New+York+Harbor,+United+States/data=!4m2!3m1!1s0x89c2507b5e8c9d09:0x7e5b091171425498?sa=X&ved=2ahUKEwjJx8Wtp_TlAhUQrlkKHX-MCC4Q8gEwGnoECBAQBA" target="_blank">Puerto de Nueva York</a></span>
        </li>
        <li  class="list-group-item">
            <a target="_blank" href="https://www.google.com/maps/place/New+York+Harbor,+United+States/data=!4m2!3m1!1s0x89c2507b5e8c9d09:0x7e5b091171425498?sa=X&ved=2ahUKEwjJx8Wtp_TlAhUQrlkKHX-MCC4Q8gEwGnoECBAQBA">
            <img src="{% static 'images/traceability/map_llegada01.PNG' %}" class="align-self-center"></a>
        </li>
        <li class="list-group-item">
            <strong>Llegada</strong><span class="pull-right"><a class="red" href="https://www.google.com/maps/place/2-8+Cornwall+Rd,+Freehold,+NJ+07728,+USA/@40.2319635,-74.2955749,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x89c2507b5e8c9d09:0x7e5b091171425498!2sNew+York+Harbor!3b1!8m2!3d40.6180585!4d-74.0666722!3m4!1s0x89c3d5c60dda3f27:0x6006f7452eb22d9c!8m2!3d40.231778!4d-74.293618">2-8 Cornwall Rd, NY</a></span>
        </li>
        <li  class="list-group-item">
            <a target="_blank" href="https://www.google.com/maps/place/2-8+Cornwall+Rd,+Freehold,+NJ+07728,+USA/@40.2319635,-74.2955749,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x89c2507b5e8c9d09:0x7e5b091171425498!2sNew+York+Harbor!3b1!8m2!3d40.6180585!4d-74.0666722!3m4!1s0x89c3d5c60dda3f27:0x6006f7452eb22d9c!8m2!3d40.231778!4d-74.293618">
            <img src="{% static 'images/traceability/map_llegada02.PNG' %}" class="align-self-center"></a>
        </li>
        <li class="list-group-item">
            <strong>Fecha/Hora Salida</strong> <span class="pull-right">19/Nov/2019 01:00 p.m.</span>
        </li>
        <li class="list-group-item">
            <strong>Fecha/Hora Llegada</strong> <span class="pull-right">19/Nov/2019 03:30 p.m</span>
        </li>
        <li class="list-group-item">
            <strong>Responsable</strong> <span class="pull-right">Bilie Eilish</span>
        </li>
    </ul>
</div>