{% load static from staticfiles %}
<div class="col-lg-4 col-md-12">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:150px; height:150px;" alt="" src="{% static 'images/traceability/container.jpg' %}">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">Unidad de Transporte</h2>
                <p>Lica Maersk</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Empresa Responsable</strong> <span class="pull-right">APL</span>
        </li>
        <li class="list-group-item">
            <strong>Tipo</strong> <span class="pull-right">Portacontenedores</span>
        </li>
        <li class="list-group-item">
            <strong>Nombre</strong> <span class="pull-right">Mærsk Mc-Kinney Møller</span>
        </li>
        <li class="list-group-item">
            <strong>Modelo</strong> <span class="pull-right">Gtx-1050Ti</span>
        </li>
    </ul>
</div>