<div class="row">
	<div class="col-lg-4 col-md-12 col-sm-12 mt-3">
		<a href="{% url 'salida_almacen' %}" class="btn btn-success btn-block btn-lg">Registro Salida de Almacén</a>
	</div>	
	<div class="col-lg-4 col-md-12 col-sm-12 mt-3">
		<a href="#" class="btn btn-danger btn-block btn-lg">Registro Llegada a Aeropuerto</a>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12 mt-3">
		<a href="#" class="btn btn-primary btn-block btn-lg">Registro Transporte Aéreo</a>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12 mt-3">
		<a href="#" class="btn btn-warning btn-block btn-lg">Registro Salida a AeroPuerto</a>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12 mt-3">
		<a href="{% url 'llegada_importador' %}" class="btn btn-info btn-block btn-lg">Registro Llegada a Importador</a>
	</div>		
</div>