.text-black{
	color: black;
}
.block_chain{
	border: 5px;
	border-color: black;
	border-style: solid;
	padding: 5px
}
.red{
	color: red !important;
}
.cellphone{
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}