{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Panel de Control de Trazabilidad{% endblock %}

{% block breadcrumb %}
	<li class="active">Dashboard</li>
{% endblock %}


{% block content %}
	{% include 'partials/cards.html' %}
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-md-12">
			{% include 'partials/charts.html' %}
		</div>
	</div>
	{% include 'partials/tables_dashboard.html' %}
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
			<h4 class="text-danger text-center mb-4">Arquitectura Blockchain</h4>
			<img class="align-self-center mr-3" alt="" src="{% static 'images/database.png' %}">
		</div>
	</div>
	{% include 'partials/world_map.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
{% endblock %}