{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body %}
	<div class="cellphone">
		<div class="row">
			<div class="col-lg-4 col-sm-12 col-md-12 offset-lg-4">
				<img src="{% static 'images/logo.png' %}">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-head">
						<h3 class="text-center">Por favor Escanee el código QR del Producto</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<input type="file" accept="image/*" placeholder="Escanea el código QR">
			</div>
		</div>
	</div>
{% endblock %}
