{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body %}
	<div class="cellphone">
		<div class="row">
			<div class="col-lg-4 col-sm-12 col-md-12 offset-lg-4">
				<img src="{% static 'images/logo.png' %}">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-head">
						<h3 class="text-center">Por favor Escanee el código QR del Producto</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<video id="video" style="width:640px;height:480px"></video>
				<button id="picture">take pirture</button>
				<canvas id="canvas" width="640" height="480"></canvas>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_js %}
	<script type="text/javascript">
	window.addEventListener("DOMContentLoaded",function(){
		var canvas=document.getElementById("canvas"),
			video=document.getElementById("video"),
			context=canvas.getContext("2d"),
			videoObj={"video":true},
			errorfn=function(){
			console.log('str wrong');
		}
		var play=function(){
			if(navigator.getUserMedia) { // Standard
				navigator.getUserMedia(videoObj, function(stream) {
					video.src = stream;
					video.play();
				}, errorfn);
			} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
				navigator.webkitGetUserMedia(videoObj, function(stream){
					video.src = window.webkitURL.createObjectURL(stream);
					video.play();
				}, errorfn);
			} else if(navigator.mozGetUserMedia) { // WebKit-prefixed
				navigator.mozGetUserMedia(videoObj, function(stream){
					video.src = window.URL.createObjectURL(stream);
					video.play();
				}, errorfn);
			}
			else if(navigator.msGetUserMedia) { // WebKit-prefixed
				navigator.mozGetUserMedia(videoObj, function(stream){
					video.src = window.URL.createObjectURL(stream);
					video.play();
				}, errorfn);
			}
		}
		play();
		document.getElementById("picture").addEventListener("click",function(){
			context.drawImage(video,0,0,640,480);
		})
	},false)
</script>
{% endblock %}
